body {
    margin: 0;
}

.container{
    width: 30%;
    margin: 0 auto;
}

.OneBox{
    border: 3px solid yellowgreen;
    background-color: red;
    padding: 70px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.TwoBox{
    border: 3px solid yellow;
    background-color: blue;
    padding: 70px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}